
:root {
  --clr-accent-900: hsl(208, 100%, 30%);
  --clr-accent-500: hsl(208, 100%, 43%);
  --clr-accent-400: hsl(208, 100%, 60%);
  --clr-accent-300: hsl(208, 100%, 75%);
  --clr-accent-200: hsl(208, 100%, 85%);
  --clr-accent-100: hsl(208, 100%, 90%);

  --clr-primary-400: hsl(208, 100%, 43%);
  --clr-primary-400-opaque: hsla(228, 39%, 23%, 0.6);
  --clr-primary-300: hsl(228, 39%, 50%);

  --clr-secondary-900: hsl(120, 100%, 10%);
  --clr-secondary-600: hsl(120, 100%, 25%);
  --clr-secondary-200: hsl(144, 100%, 90%);
  --clr-secondary-100: hsl(120, 100%, 92%);

  --clr-neutral-900: hsl(232, 12%, 13%);
  --clr-neutral-900-opaque: hsla(232, 12%, 13%, 0.6);
  --clr-neutral-700-opaque: hsla(232, 12%, 35%, 0.6);
  --clr-neutral-500: hsl(0 0% 50%);
  --clr-neutral-400-opaque: hsla(0, 0%, 80%, 0.4);
  --clr-neutral-300: hsl(0 0% 85%);
  --clr-neutral-200: hsl(0 0% 97%);
  --clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-100-opaque: rgba(255, 255, 255, 0.8);

  --clr-box-shadow: hsla(232, 12%, 70%, 0.2);
  --clr-input-bg: hsl(227, 100%, 95%); 
  --clr-alert-bg: hsl(0, 100%, 92%);
  --clr-alert-font-color: hsl(0, 100%, 39%);

  --ff-primary: "Be Vietnam Pro", sans-serif;
  --ff-secondary: 'Dancing Script', 'cursive';

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-100: 0.6rem;
  --fs-200: 0.65rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-650: 1.25rem;
  --fs-700: 1.5rem;
  --fs-750: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;
  --fs-950: 4rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);

    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: var(--fs-600);
}

#root {
  height: 100%;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* UTILITY CLASSES */

.lt-font {
  color: var(--clr-neutral-900-opaque);
}

.bold {
  font-weight: var(--fw-bold);
}

.disabled-button {
  opacity: 0.6;
}

.disabled-button:is(:hover, :focus-within) {
  color: var(--clr-neutral-100) !important;
  background-color: var(--clr-primary-400) !important;
  cursor: default !important;
}

.selected-tab {
  background-color: var(--clr-accent-100);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.alert,
.alert-info,
.alert-danger {
  grid-column: 1 / -1;
  max-height: 4rem;
  padding: var(--size-300);
  color: var(--clr-alert-font-color);
  background-color: var(--clr-alert-bg);
  font-size: var(--fs-400);
  text-align: center;
  box-shadow: 0px 0px 3px hsl(0, 100%, 71%);
}

.invalid__input {
  outline: 2px solid red;
}

.loading-container {
  display: flex;
}

/* GENERAL STYLING */

a {
  color: var(--clr-neutral-900);
  text-decoration: none;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: var(--size-500);
  box-shadow: 0px 0px 3px var(--clr-neutral-700-opaque);
}

form a {
  margin: 0;
}

form label {
  font-size: var(--fs-650);
}

input {
  width: 100%;
  padding: var(--size-200);
}

textarea {
  padding: var(--size-200);
  min-height: 5rem;
  max-height: 20rem;
}

select {
  padding: var(--size-200);
  border: none;
  border-radius: none;
  background-color: var(--clr-neutral-100);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  -webkit-appearance: none; /* fixes box shadow on input fields in iOS bug*/
}

input,
textarea,
select {
  box-shadow: 0px 0px 5px var(--clr-box-shadow);
}

input,
textarea {
  font-size: var(--fs-650);
}

input:focus,
textarea:focus {
  outline: 2px solid var(--clr-accent-500);
}

form button {
  width: 100%;
  margin-top: var(--size-300);
  padding: var(--size-300);
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
  font-size: var(--fs-650);
}

@media(min-width: 35em) {
  form label,
  form input,
  form textarea {
    font-size: var(--fs-600);
  }

  form button {
    padding: var(--size-200);
    font-size: var(--fs-600);
  }
}

form button:is(:hover, :focus-within) {
  cursor: pointer;
  background-color: var(--clr-accent-500);
  outline: none;
}

form input,
form button,
form textarea {
  border: none;
}

.banner-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 100%;
  background-color: var(--clr-neutral-900-opaque);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.banner-image h1 {
  color: var(--clr-neutral-200);
  letter-spacing: 4px;
  font-weight: var(--fw-bold);
  font-size: var(--fs-900);
}

/* APP */

.app__container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  max-width: 2300px;
  margin-inline: auto;
}

.notice__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--clr-neutral-900-opaque);
  z-index: 9998;
}

.notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
  max-width: 700px;
  padding: var(--size-700);
  background-color: var(--clr-neutral-100);
  z-index: 9999;
}

.notice h1 {
  font-size: var(--fs-750);
  line-height: 1.25;
}

.notice__button {
  padding: var(--size-200) var(--size-300);
  margin-top: var(--size-400);
  border: none;
  background: var(--clr-accent-500);
  color: var(--clr-neutral-100);
  font-size: var(--fs-500);
}

.notice__button:is(:hover, :focus-within) {
  cursor: pointer;
  background: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

/* HEADER */

header {
  box-shadow: 0px 1px 3px var(--clr-neutral-400-opaque);
}

.header-socials {
  display: none;
  top: 0;
  left: 0;
  height: 100%;
}

.header-socials img:hover,
.header-cart-icon:hover,
.header-profile-icon:hover {
    transform: scale(1.2);
}

.header-logo {
  height: 3.5rem;
  width: 10rem;
}

.header-logo:is(:hover, :focus) {
  cursor: pointer;
}

.header-icons {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: var(--size-700);
}

.header-icons div:first-child {
  margin-right: var(--size-400);
  padding-right: var(--size-400);
  border-right: 1px solid var(--clr-neutral-400-opaque);
}

.header-icons__cart-container {
  /* for positioning the cart indicator pseudo element */
  position: relative;
}

.header-icons__cart-indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -7px;
  right: -5px;
  height: 11px;
  width: 11px;
  padding: 8px;
  border-radius: 100vh;
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-500);
  font-size: 12px;
  z-index: 1000;
}

.header-socials img,
.header-cart-icon,
.header-profile-icon {
  height: 1.5rem;
  aspect-ratio: 1;
}

@media(min-width: 50em) {
  .header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1000;
  }

  .header-socials {
    display: flex;
    align-items: center;
    gap: 0 1.25rem;
  }

  .header-icons {
    display: flex;
    margin-right: 0;
  }
}

/* NAVIGATION */

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}

.main-navigation__top-bar,
.main-navigation__bottom-bar {
  justify-content: space-between;
  align-self: center;
  width: 100%;
  padding: var(--size-400);
}

.main-navigation__top-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.main-navigation__bottom-bar {
  display: none;
  justify-content: center;
  background-color: var(--clr-neutral-200);
}

.main-navigation__links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.mobile-nav__hamburger-button {
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
  border: none;
  background-color: var(--clr-neutral-100);
  z-index: 999;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.mobile-nav__hamburger-button:is(:hover, :focus-within) {
  cursor: pointer;
}

.mobile-nav__hamburger-button span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--clr-neutral-900);
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

/* HAMBURGER SPAN ANIMATION */

.mobile-nav__hamburger-button__top {
  top: 0px;
}

.mobile-nav__hamburger-button__mid {
  top: 10px;
}

.mobile-nav__hamburger-button__bottom {
  bottom: 0;
}

button.open .mobile-nav__hamburger-button__top {
  top: 10px;
  transform: rotate(45deg);
}

button.open .mobile-nav__hamburger-button__mid {
  width: 0%;
  opacity: 0;
}

button.open .mobile-nav__hamburger-button__bottom {
  top: 10px;
  transform: rotate(-45deg);
}

@media(min-width: 50em) {
  .main-navigation {
    display: flex;
    justify-content: center;
  }

  .main-navigation__top-bar {
    padding: var(--size-500);
  }

  .main-navigation__bottom-bar {
    display: flex;
  }

  .nav-link {
    border-bottom: 3px solid transparent;
  }

  .nav-link:is(:hover, :focus) {
    border-bottom: 3px solid var(--clr-accent-500);
    transition: all 0.2s ease-in-out;
  }

  .mobile-nav__hamburger-button {
    display: none;
    margin-left: var(--size-300);
  }
}

/* MOBILE NAVIGATION MENU */

.mobile-nav {
  display: flex;
  width: 100%;
  background-color: var(--clr-neutral-300);
  animation-name: expand;
  animation-duration: 500ms;
  animation-timing-function: ease;
  overflow: hidden;
}

.mobile-nav__links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mobile-nav__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: var(--size-400) 0;
  color: var(--clr-neutral-900);
  font-size: var(--fs-700);
  text-align: center;
}

.mobile-nav__link:is(:hover, :focus) {
  background-color: var(--clr-accent-500);
  color: var(--clr-neutral-100);
}

@media(min-width: 50em) {
  .mobile-nav {
    display: none;
  }
}

/* MOBILE MENU ANIMATION */

@keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 25.5rem;
    opacity: 1;
  }
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 100%;
  background-image: url("../public/images/header2.jpg");
  background-color: var(--clr-neutral-900-opaque);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__heading {
  width: min-content;
  border-bottom: 5px solid white;
  color: var(--clr-neutral-100);
  font-size: var(--fs-900);
  text-align: center;
  text-transform: uppercase;
  line-height: var(--size-800);
  letter-spacing: 2px;
}

.hero__subheading {
  margin-top: var(--size-400);
  color: var(--clr-neutral-100);
  font-size: var(--fs-650);
  text-align: center;
}

.hero__link {
  margin-top: var(--size-700);
  padding: var(--size-300) var(--size-500);
  border: 3px solid var(--clr-neutral-100);
  color: var(--clr-neutral-100);
  font-size: var(--fs-500);
  text-transform: uppercase;
}

.hero__link:is(:hover, :focus-within) {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  cursor: pointer;
}

@media(min-width: 40rem) {
  .hero__heading {
    width: max-content;
    letter-spacing: 2px;
  }

  .hero__subheading {
    font-size: var(--fs-650);
  }
}

@media(min-width: 50em) {
  .hero__heading {
    font-size: var(--fs-900);
  }

  .hero__subheading {
    font-size: var(--fs-700);
  }

  .hero__link {
    padding: var(--size-200) var(--size-500);
    margin-top: var(--size-600);
    font-size: var(--fs-400);
  }
}

/* CATEGORIES */

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
  max-width: 75rem;
  padding: var(--size-800) var(--size-400);
  margin-inline: auto;
}

.category-card {
  display: flex;
  justify-content: center;
  aspect-ratio: 1;
  width: 100%;
  max-width: 35rem;
  padding: var(--size-500) 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--clr-neutral-200);
}


.category-card__link {
  align-self: end;
  width: 40%;
  padding: var(--size-300) 0;
  background-color: var(--clr-neutral-100-opaque);
  box-shadow: 0 0 3px var(--clr-neutral-700-opaque);
  font-size: var(--fs-600);
  text-align: center;
  text-transform: uppercase;
}

.category-card__link:is(:hover, :focus-within) {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  cursor: pointer;
}

.hats {
  background-image: url("../public/images/hat2.png");
  background-position: center;
}

.sweaters {
  background-image: url("../public/images/sweater1.png");
  background-position: center;
}

.yarn {
  background-image: url("../public/images/yarn1.png");
  background-position: center;
}

@media(min-width: 50em) {
  .categories-container {
    flex-direction: row;
    justify-content: center;
  }

  .category-card__link {
    padding: var(--size-200) 0;
    font-size: var(--fs-500);
  }
}

/* ABOUT */

.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-container section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 95%;
  margin-inline: auto;
  padding: var(--size-800) 0;
}

.about-banner {
  background-image: url("../public/images/about.jpg");
  background-position: center;
}

.about-portrait {
  aspect-ratio: 4 / 5;
  width: 80%;
  margin-inline: auto;
}

.about-text {
  width: 95%;
  margin-inline: auto;
}

.about-text h2 {
  margin-bottom: var(--size-300);
  font-size: var(--fs-750);
  letter-spacing: 1px;
}

.about-text p {
  margin-bottom: var(--size-400);
  color: var(--clr-neutral-900-opaque);
  font-size: var(--fs-600);
  line-height: 1.5rem;
}

.about-text p:last-of-type {
  margin: 0;
}

@media(min-width: 50em) {
  .about-container section {
    flex-direction: row;
    justify-content: center;
    max-width: 75rem;
  }

  .about-portrait {
    flex: 0 0 33%;
    align-self: flex-start;
    margin-inline: 0;
  }

  .about-text {
    flex: 0 0 66%;
    margin-inline: 0;
  }

  .about-text p {
    max-width: 80ch;
  }
}

/* FOOTER */

footer {
  margin-top: auto;
  padding: var(--size-500) var(--size-500) var(--size-200);
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-500);
  font-size: var(--fs-300);
}

.footer__container {
  display: grid;
  grid-template-areas: 
      "about"
      "socials"
      "contact"
      "copyright";
  gap: 4rem 0;
  width: 100%;
  max-width: 75rem;
  margin-inline: auto;
}

footer h3 {
  font-size: var(--fs-400);
  font-weight: bold;
  margin-bottom: var(--size-200);
  color: var(--clr-neutral-300);
}

.footer__about {
  grid-area: about;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  font-size: var(--fs-300);
}

.footer__about span {
  margin-top: var(--size-200);
  margin-left: auto;
  color: var(--clr-neutral-400-opaque);
}

.footer__socials {
  grid-area: socials;
}

.footer__socials > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--clr-neutral-400-opaque);
  font-size: var(--fs-300);
}

.icon__container {
  display: flex;
  gap: 1rem;
}

.footer__socials img {
  aspect-ratio: 1;
  height: 1.25rem;
}

.footer__socials img:hover {
    transform: scale(1.2);
}

.footer__contact {
  grid-area: contact;
  font-size: var(--fs-300);
}

.footer__copyright {
  grid-area: copyright;
  width: 100%;
  font-size: var(--fs-200);
}

.footer__contact div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media(min-width: 35em) {
  .footer__container {
    grid-template-areas: 
      "about about"
      "socials contact"
      "copyright copyright";
  }
}

@media(min-width: 50em) {
  .footer__container {
    grid-template-areas: 
      "about socials contact"
      "copyright copyright copyright";
    gap: 1rem 6rem;
  }

  .footer__about {
    max-width: 20rem;
  }

  .footer__socials,
  .footer__contact {
    min-width: 10rem;
  }
}


/* PRODUCTS PAGE */

.products-container {
  width: 100%;
}

.products-container section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 75rem;
  margin-inline: auto;
  padding: var(--size-800) 0;
}

.products-filter {
  padding-left: var(--size-400);
}

.products-filter h3 {
  margin-bottom: var(--size-400);
  font-weight: bold;
  font-size: var(--fs-700);
}

.products-categories li {
  margin-bottom: var(--size-400);
  font-size: var(--fs-650);
}

.products-categories__link {
  color: var(--clr-neutral-900-opaque);
  font-weight: normal;
  transition: all 500ms;
}

.products-categories__link:is(:hover, :focus) {
  cursor: pointer;
  color: var(--clr-accent-500);
}

@media(min-width: 35em) {
  .products-categories li {
    font-size: var(--fs-600);
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.products-list .alert-danger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-inline: auto;
}

.products-screen__alert {
  width: 50%;
  margin-inline: auto;
  margin-top: var(--size-800);
}

.products-banner {
  background-image: url("../public/images/products.jpg");
  background-position: 40% 60%;
}


/* PRODUCT CARD */

.product-card {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 var(--size-400) var(--size-700) var(--size-400);
}

.product-card__image {
  width: 100%;
  margin-bottom: var(--size-500);
  background-color: var(--clr-neutral-200);
}

.product-card__name {
  margin-bottom: var(--size-100);
  font-size: var(--fs-700);
}

.product-card__price {
  font-size: var(--fs-650);
}

@media(min-width: 35em) {
  .products-container section {
    flex-direction: row;
  }
  
  .product-card {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 var(--size-500) var(--size-500) var(--size-500);
  }

  .product-card__name,
  .product-card__price {
    font-size: var(--fs-600);
  }

  .product-card__image {
    margin-bottom: var(--size-300);
  }
}

@media(min-width: 50em) {
  .product-card {
    flex: 0 0 33%;
    max-width: 33%;
  }

  .product-card__price {
    font-size: var(--fs-600);
  }
}


/* PRODUCT DETAILS */


.product-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 75rem;
  margin-inline: auto;
  padding: var(--size-800) var(--size-400);
}

.product-container__right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: var(--size-400);
  padding-bottom: 0;
}

.product-container select {
  height: 3rem;
  border: none;
  border-radius: 0;
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
}

.product-container select,
.add-to-cart-button {
  width: 10rem;
  padding: 0 var(--size-300);
}

.product-container select:is(:hover, :focus) {
  cursor: pointer;
}

.product__image {
  align-self: start;
  width: 100%;
  margin-inline: auto;
  background-color: var(--clr-neutral-200);
}

.product-quantity-container {
  display: flex;
  gap: 2rem;
  margin-top: var(--size-500);
}

.add-to-cart-button {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  border: none;
}

.add-to-cart-button:is(:hover, :focus-within) {
  background-color: var(--clr-accent-500);
  cursor: pointer;  
}

.product__name {
  font-size: var(--size-600);
}

.product__description {
  color: var(--clr-neutral-900-opaque);
  font-size: var(--fs-500);
  max-width: 50ch;
}

.product__price {
  font-size: var(--fs-650);
}

.product-screen__alert {
  width: 50%;
  margin-inline: auto;
  margin-top: var(--size-800);
}

@media(min-width: 40em) {
  .product-container {
    flex-direction: row;
    gap: 1.5rem;
  }
}

/* CONTACT PAGE */

.contact-container {
  display: grid;
  grid-template-areas: 
  "image"
  "contact-bottom";
  width: 100%;
}

@media(min-width: 25em) {
  .contact-container {
    grid-template-columns: auto;
  }
}

@media(min-width: 50em) {
  .contact-container {
    grid-template-areas: 
      "image image"
      "contact-bottom contact-bottom";
    grid-template-columns: repeat(2, 1fr);
  }
}

.contact-banner {
  grid-area: image;
  background-image: url("../public/images/contact.jpg");
  background-position: 30% 60%;
}

.contact-bottom {
  grid-area: contact-bottom;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 95%;
  margin-inline: auto;
  padding: var(--size-800) 0;
}

.contact-form {
  width: 100%;
}

.contact-form__heading {
  font-weight: var(--fw-bold);
  font-size: var(--fs-750);
}

.contact-form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-form textarea {
  z-index: 1;
  resize: vertical;
}

.contact-map {
  width: 100%;
  min-height: 30rem;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

@media(min-width: 50em) {
  .contact-bottom {
    flex-direction: row;
    justify-content: space-between;
    max-width: 75rem;
  }

  iframe {
    height: 100%;
  }
}

/* CART */

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 75rem;
  margin-inline: auto;
  padding: var(--size-800) var(--size-400);
}

.cart-price-heading {
  align-self: flex-end;
  font-weight: var(--fw-bold);
}

.cart-header {
  padding: var(--size-300);
  color: var(--clr-neutral-100);
}

.cart-header__empty {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: var(--size-800);
  color: var(--clr-neutral-100);
}

.cart-header,
.cart-header__empty {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--clr-accent-500);
}

.cart-header__empty h2 {
  font-size: var(--fs-700);
}

.cart-total-price {
  align-self: flex-end;
  margin-block: var(--size-500);
  font-size: var(--fs-650);
}

.empty-cart-link {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  padding: var(--size-300) var(--size-700);
  font-size: var(--fs-650);
}

.empty-cart-link:is(:hover, :focus-within) {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
}

.cart-checkout-link {
  width: 80%;
  margin-inline: auto;
  padding: var(--size-400) 0;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-size: var(--fs-400);
  text-align: center;
}

.cart-checkout-link:is(:hover, :focus-within) {
  cursor: pointer;
  background-color: var(--clr-accent-500);
}

@media(min-width: 35em) {
  .cart-header__empty {
    flex-direction: row;
    gap: 3rem;
  }

  .empty-cart-link {
    padding: var(--size-200) var(--size-700);
  }

  .cart-checkout-link {
    width: 30%;
    margin-inline: 0;
    margin-left: auto;
    padding: var(--size-200) 0;
  }

  .cart-total-price {
    font-size: var(--fs-600);
  }
}

/* CART ITEM */

.cart-item {
  display: grid;
  grid-template-areas: 
    "img name button"
    "qty name price";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  width: 100%;
  padding: var(--size-600) var(--size-300);
  border-bottom: 1px solid var(--clr-neutral-400-opaque);
}

.cart-item > div {
  grid-area: qty;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.cart-item__link {
  margin: 0;
  font-size: var(--fs-650);
}

.cart-item__image {
  grid-area: img;
  width: 5rem;
  aspect-ratio: 1;
  background-color: var(--clr-neutral-200);
}

.cart-item__name {
  grid-area: name;
  font-size: var(--fs-600);
}

.cart-item__description {
  display: none;
  max-width: 70ch;
  font-size: var(--fs-400);
}

.cart-item__name:is(:hover, :focus) {
  cursor: pointer;
  text-decoration: underline;
}

.cart-item__qty-input {
  height: 3rem;
  padding: var(--size-200);
  border: none;
  border-radius: 0;
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
  font-size: var(--fs-500);
}

.cart-item__qty-input:is(:hover) {
  cursor: pointer;
}

.cart-item__remove-button {
  grid-area: button;
  justify-self: end;
  align-self: start;
  width: 1.5rem;
  border: none;
  background-color: var(--clr-neutral-100);
}

.cart-item__remove-button:is(:hover, :focus-within) {
  cursor: pointer;
}

.cart-item__remove-button img {
  aspect-ratio: 1;
}

.cart-item__price {
  grid-area: price;
  justify-self: end;
  align-self: end;
  color: var(--clr-neutral-900);
  font-size: var(--fs-600);
}

@media(min-width: 30em) {
  .cart-item {
    grid-template-areas: 
    "img name button"
    "img qty price";
    gap: 1rem;
  }

  .cart-item > div {
    flex-direction: row;
    align-items: center;
  }

  .cart-item__name {
    align-self: center;
  }

  .cart-item__qty-input {
    height: auto;
  }
}

@media(min-width: 50em) {
  .cart-item {
    grid-template-areas: 
    "img name qty button"
    "img name qty price";
    grid-template-columns: auto repeat(2, 1fr) auto;
    gap: 0;
  }

  .cart-item > div {
    justify-content: center;
    justify-self: start;
  }

  .cart-item__name {
    justify-self: center;
  }

  .cart-item__qty-input {
    width: 40%;
  }
}

/* SHIPPING/PAYMENT/LOGIN/REGISTER FORMS */

.shipping-container,
.payment-container,
.login-container,
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 75rem;
  margin-inline: auto;
  padding-block: var(--size-800);
}

.login-container {
  flex-direction: column;
  gap: 2rem;
}

.shipping-form,
.payment-form,
.login-form,
.register-form {
  width: 90%;
  max-width: 25rem;
}

.shipping-form__group,
.login-form__group, 
.register-form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register-link,
.register-form-link {
  margin-top: var(--size-200);
  font-size: var(--fs-600);
  text-align: center;
}

.register-link:is(:hover, :focus),
.register-form-link:is(:hover, :focus) {
  text-decoration: underline;
}

.payment-form h1 {
  text-align: center;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.payment-form__input {
  width: 1rem;
  box-shadow: 0px 0px 3px var(--clr-neutral-700-opaque);
  border-radius: 100vh;
  aspect-ratio: 1;
}

.payment-form-input:hover {
  cursor: pointer;
}

/* PLACEORDER SCREEN */

.order__container {
  width: 90%;
  max-width: 75rem;
  margin-inline: auto;
  padding-block: var(--size-800);
}

.customer__container {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--size-600);
  min-height: 7rem;
  background-color: var(--clr-accent-100);
}

.customer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: var(--size-400);
  color: var(--clr-neutral-900);
}

.customer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-width: 3.5rem;
  padding: var(--size-400);
  border-radius: 50%;
  background-color: var(--clr-neutral-200);
}

.customer__icon img {
  width: 2rem;
  aspect-ratio: 1;
}

.customer__details h2 {
  margin-bottom: var(--size-100);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.customer__details p {
  font-size: var(--fs-400);
}

@media(min-width: 35rem) {
  .customer__container {
    flex-direction: row;
  }
  
  .customer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .customer__details h2 {
    font-size: var(--fs-650);
  }
  
  .customer__details p {
    font-size: var(--fs-400);
  }
}

@media(min-width: 50rem) {
  .order__container {
    display: grid;
    grid-template-areas: 
      "info info info"
      "items items price";
  }
  
  .customer__container {
    grid-area: info;
  }

  .customer {
    flex-direction: row;
    gap: 2rem;
  }
}

.items__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: var(--size-600);
}

.item {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  box-shadow: 0px 2px 4px var(--clr-neutral-400-opaque);
}

.item img {
  height: 8rem;
  width: 6rem;
  background-color: var(--clr-neutral-200);
}

.item__right {
  display: grid;
  grid-template-areas: 
    "name name"
    "quantity subtotal";
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: var(--size-200) 0;
}

.item__name {
  grid-area: name;
  font-size: var(--fs-400);
}

.item__link {
  margin: 0;
}

.item__link:is(:hover, :focus) {
  cursor: pointer;
  text-decoration: underline;
}

.item__quantity {
  grid-area: quantity;
  justify-self: start;
}

.item__subtotal {
  grid-area: subtotal;
  justify-self: end;
  padding-right: var(--size-200);
} 

.item__subtotal,
.item__quantity {
  align-self: end;
  text-align: center;
  font-size: var(--fs-200);
}

.item__subtotal-label,
.item__quantity-label {
  margin-bottom: var(--size-100);
}

@media(min-width: 25rem) {
  .item img {
    height: 10rem;
    width: 8rem;
    background-color: var(--clr-neutral-200);
  }

  .item__subtotal,
  .item__quantity {
    font-size: var(--fs-400);
  }

  .item__name {
    font-size: var(--fs-600);
  }
}

@media(min-width: 35em) {
  .item__right {
    display: flex;
  }
  
  .item__name {
    align-self: center;
    margin-right: auto;
  }

  .item__quantity {
    margin-right: var(--size-500);
    margin-left: var(--size-300);
  }
  
  .item__subtotal,
  .item__quantity {
    align-self: center;
  }
}

@media(min-width: 50em) {
  .items__container {
    grid-area: items;
    padding-right: var(--size-600);
  }

  .item__right {
    align-items: center;
    width: 100%;
  }
  
  .item__subtotal {
    grid-area: subtotal;
    justify-self: end;
    padding-right: var(--size-200);
  }
}

/* CHECKOUT FORM */

.checkout__form {
  box-shadow: 0px 0px 5px var(--clr-neutral-400-opaque);
  padding: var(--size-500);
}

.checkout__form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkout__form h3 {
  font-size: var(--fs-650);
  font-weight: bold;
}

.checkout__form label,
.checkout__form input {
  font-size: var(--fs-600);
}

.checkout__total {
  align-self: flex-start;
  width: 100%;
  max-width: 25rem;
  padding: var(--size-400);
  background-color: var(--clr-neutral-200);
}

.checkout__total h3 {
  margin-bottom: var(--size-300);
  font-weight: bold;
}

.checkout__prices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem 0;
  height: min-content;
  width: 100%;
  min-width: 12rem;
  margin-top: var(--size-600);
  font-size: var(--fs-600);
}

.price__amount {
  justify-self: end;
}

.checkout__button {
  grid-column: span 2;
  margin-top: var(--size-300);
  padding: var(--size-300) 0;
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
  border: none;
  font-size: var(--fs-600);
}

.checkout__button:is(:hover, :focus-within) {
  cursor: pointer;
  background-color: var(--clr-accent-500);
}

.checkout__button:disabled {
  background-color: var(--clr-neutral-900-opaque);
  cursor: default;
}

.price__alert {
  grid-column: span 2;
  justify-self: center;
  margin-bottom: var(--size-600);
}


@media(min-width: 35em) {
  .checkout__prices {
    font-size: var(--fs-500);
  }

  .checkout__button {
    padding: var(--size-200) 0;
  }
}

@media(min-width: 50em) {
  .checkout__container {
    grid-area: price;
  }

  .checkout__form {
    padding: var(--size-300) 0 0 var(--size-600);
    border-left: 1px solid var(--clr-neutral-400-opaque);
    box-shadow: none;
  }

  .checkout__total {
    max-width: none;
  }

  .checkout__prices {
    margin-top: 0;
  }
}

/* PROFILE */

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  max-width: 75rem;
  margin-inline: auto;
  padding: var(--size-800) var(--size-400);
}

.profile {
  position: relative;
  align-self: start;
  width: 100%;
  max-width: 25rem;
  margin-inline: auto;
  box-shadow: 0px 0px 8px var(--clr-box-shadow);
}

.profile__accent {
  height: 5rem;
  background: #00f260; /* default for old browsers */
  background: -webkit-linear-gradient(to right, #00f260, #0575e6);
  background: linear-gradient(to right, #00f260, #0575e6);
}

.profile__details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  padding: var(--size-500);
  font-size: var(--fs-650);
}

.profile__date {
  font-size: var(--fs-600);
}

.profile img {
  position: absolute;
  left: 3rem;
  height: 3rem;
  border-radius: 100vh;
  background-color: var(--clr-accent-200);
  box-shadow: 0px 0px 10px var(--clr-neutral-900-opaque);
  transform: translateY(-50%);
  aspect-ratio: 1;
}

.profile__tabs {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-600);
}

.profile__tabs div {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 var(--size-400);
  border-top: 1px solid var(--clr-neutral-300);
}

.profile__tabs button {
  border: none;
  background-color: inherit;
  text-align: left;
}

.profile__tabs button:is(:hover, :focus) {
  cursor: pointer;
  text-decoration: underline;
}

.profile__orders-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__orders-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: var(--size-100);
  border-radius: 100vh;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-size: var(--fs-600);
  aspect-ratio: 1;
}

.profile-form-container {
  width: 100%;
}

.profile-form {
  height: 100%;
  gap: 2rem;
}

.profile-form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile-form__button {
  grid-column: span 2;
  align-self: start;
}

.logout-button {
  margin-top: var(--size-300);
  background-color: var(--clr-neutral-100);
  border: none;
  color: var(--clr-neutral-900);
  font-size: var(--fs-600);
}

.logout-button:is(:hover, :focus) {
  cursor: pointer;
  text-decoration: underline;
}

@media(min-width: 25em) {
  .profile img{
    height: 4rem;
  }
}

@media(min-width: 35em) {
  .profile-container {
    gap: 1rem;
  }

  .profile {
    margin-inline: 0;
  }

  .profile__tabs div {
    height: 3rem;
    border-top: 1px solid var(--clr-neutral-300);
    font-size: var(--fs-500);
  }

  .profile__orders-indicator {
    height: 50%;
    font-size: var(--fs-500);
  }

  .profile-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

@media(min-width: 50em) {
  .profile-container {
    flex-direction: row;
  }

  .profile {
    width: 50%;
    min-width: 20rem;
  }
}

/* ORDERS LIST */

.orders-list {
  display: grid;
  grid-auto-rows: min-content;
  align-items: start;
  width: 100%;
  overflow-x: scroll;
}

.orders-list__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: var(--fs-750);
}

.orders-list__labels {
  grid-column: 1 / -1;
  padding: var(--size-200);
  margin-bottom: var(--size-200);
  border-bottom: 2px solid var(--clr-neutral-900);
  font-size: var(--fs-650);
}

.orders-list__labels,
.order {
  display: grid;
  grid-template-columns: 30% 1fr 20%;
  width: 100%;
}

.order {
  padding: var(--size-300) var(--size-200);
  border-bottom: 1px solid var(--clr-neutral-700-opaque);
  background-color: var(--clr-secondary-200);
  font-size: var(--fs-650);
}

.order__link {
  display: block;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order__link:is(:hover, :focus) {
  color: var(--clr-accent-500);
  text-decoration: underline;
}

@media(min-width: 30em) {
  .order {
    font-size: var(--fs-600);
  }

  .orders-list__labels,
  .order {
    display: grid;
    grid-template-columns: 50% 1fr 20%;
    width: 100%;
  }
}

@media(min-width: 60em) {
  .order__link {
    width: 100%;
  }
}


/* ORDER DETAILS */


.order-details-container {
  width: 95%;
  max-width: 75rem;
  margin-inline: auto;
  padding-block: var(--size-800);
}

.order-details {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}

.order-details h1 {
  grid-column: 1 / -1;
  width: 100%;
  margin-bottom: var(--size-400);
  font-size: var(--fs-800);
  font-weight: bold;
  text-align: center;
}

@media(min-width: 50em) {
  .order-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.order-details__customer {
  display: grid;
  grid-column: 1 / 2;
  gap: 2rem 3rem;
  align-self: start;
  padding: var(--size-200);
  font-size: var(--fs-400);
}

@media(min-width: 25em) {
  .order-details__customer {
    grid-template-columns: repeat(2, 1fr);
  }
}

.order-details__customer div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: var(--fs-600);
}

.order-details__customer h3 {
  margin-bottom: var(--size-400);
  font-size: var(--fs-700);
  font-weight: bold;
}

.order-details__customer a {
  display: block;
  grid-column: 1 / -1;
  padding: var(--size-400) 0;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-size: var(--fs-600);
  text-align: center;
}

@media(min-width: 35em) {
  .order-details__customer div {
    font-size: var(--fs-500);
  }
  
  .order-details__customer h3 {
    font-size: var(--fs-650);
  }

  .order-details__customer a {
    padding: var(--size-300) 0;
    font-size: var(--fs-500);
  }
}

@media(min-width: 50em) {
  .order-details__customer a {
    width: 75%;
  }
}

.order-details__customer a:is(:hover, :focus-within) {
  cursor: pointer;
  background-color: var(--clr-accent-500);
}

.order-details__items {
  grid-column: 2 / 3;
  padding: var(--size-200);
  font-size: var(--fs-600);
}

.order-details__items h2 {
  font-size: var(--fs-700);
  font-weight: bold;
}

.order-details__shipping,
.order-details__subtotal,
.order-details__total {
  display: flex;
  justify-content: space-between;
}

.order-details__subtotal {
  margin-bottom: var(--size-100);
}

.order-details__shipping {
  margin-bottom: var(--size-200);
  padding-bottom: var(--size-200);
  border-bottom: 1px solid var(--clr-neutral-300);
}

.order-details__total {
  flex-wrap: wrap;
}

.order-details__total .lt-font {
  width: 100%;
  font-size: var(--fs-300);
}

.order-item {
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: 0.5rem 1rem;
  width: 100%;
}

.order-item img {
  grid-row: 1 / 3;
  background-color: var(--clr-neutral-200);
  aspect-ratio: 1;
}

.order-item > p {
  grid-column: 2;
}

.order-items-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: var(--size-400);
}

@media(min-width: 25em) {
  .order-item > p {
    grid-column: 3;
  }
}


