
:root {
  --clr-accent-500: hsl(12, 60%, 45%);
  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-300: hsl(12, 88%, 75%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-primary-400: hsl(228, 39%, 23%);
  --clr-primary-400-opaque: hsla(228, 39%, 23%, 0.6);
  --clr-primary-300: hsl(228, 39%, 50%);

  --clr-secondary-900: hsl(120, 100%, 10%);
  --clr-secondary-600: hsl(120, 100%, 25%);
  --clr-secondary-200: hsl(120, 100%, 87%);
  --clr-secondary-100: hsl(120, 100%, 92%);

  --clr-neutral-900: hsl(232, 12%, 13%);
  --clr-neutral-900-opaque: hsla(232, 12%, 13%, 0.5);
  --clr-neutral-700-opaque: hsla(232, 12%, 35%, 0.8);
  --clr-neutral-400-opaque: hsla(0, 0%, 80%, 0.4);
  --clr-neutral-300: hsl(0 0% 85%);
  --clr-neutral-200: hsl(0 0% 97%);
  --clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-100-opaque: rgba(255, 255, 255, 0.95);

  --clr-box-shadow: hsla(232, 12%, 70%, 0.2);
  --clr-input-bg: hsl(227, 100%, 95%); 
  --clr-alert-bg: hsl(0, 100%, 92%);
  --clr-alert-font-color: hsl(0, 100%, 39%);

  --ff-primary: "Be Vietnam Pro", sans-serif;
  --ff-secondary: 'Dancing Script', 'cursive';

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-200: 0.65rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-650: 1.5rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);

    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: var(--fs-600);
}

#root {
  height: 100%;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.active {
  font-weight: var(--fw-bold);
}

.bold {
  font-weight: var(--fw-bold);
}

.disabled-button {
  opacity: 0.6;
}

.disabled-button:is(:hover, :focus-within) {
  color: var(--clr-neutral-100) !important;
  background-color: var(--clr-primary-400) !important;
  cursor: default !important;
}

.flex {
  display: flex;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.alert,
.alert-info,
.alert-danger {
  padding: var(--size-300);
  color: var(--clr-alert-font-color);
  background-color: var(--clr-alert-bg);
  font-size: var(--fs-400);
  box-shadow: 0px 0px 3px hsl(0, 100%, 71%);
}

/* general styling */


a {
  color: var(--clr-neutral-900);
  text-decoration: none;
  margin: 0 5px;
}

.App-container {
  flex-direction: column;
  height: 100%;
}

/* nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  box-shadow: 0 0 0.3rem var(--clr-box-shadow);
}

.nav-logo:is(:hover, :focus) {
  cursor: pointer;
  box-shadow: 0 0 0.3rem 0.2rem var(--clr-box-shadow);
}

nav,
.favorite-card,
.main-about {
  padding: var(--size-500);
}

.nav-links-container {
  display: none;
}

.nav-button {
  height: 1.5em;
  width: 1.5em;
  background-color: inherit;
  border: none;
  z-index: 999;
}

.nav-button:is(:hover, :focus-within) {
  cursor: pointer;
}

/* header */

header p {
  font-size: var(--fs-700);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 100%;
  background-image: url("./images/header2.jpg");
  background-color: var(--clr-neutral-900-opaque);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header h1 {
  color: white;
  font-size: var(--fs-700);
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 5px solid white;
}

.subheading {
  margin-top: var(--size-400);
  color: white;
  font-size: var(--fs-400);
  text-align: center;
}

.header__link {
  margin-top: var(--size-600);
  padding: var(--size-100) var(--size-400);
  border: 2px solid var(--clr-neutral-100);
  color: var(--clr-neutral-100);
  background: transparent;
  font-size: var(--fs-300);
  text-transform: uppercase;
}

.header__link:is(:hover, :focus-within) {
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-400);
  box-shadow: 0 0 10px 1px var(--clr-primary-400);
  cursor: pointer;
}

@media(min-width: 50em) {
  header h1 {
    font-size: var(--fs-900);
  }

  .subheading {
    font-size: var(--fs-600);
  }
}


/* categories */

.categories-container {
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 80%;
  padding: var(--size-800) 0;
  margin-inline: auto;
}

@media(min-width: 30em) {
  .categories-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.category-card {
  display: flex;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  padding: var(--size-400);
  box-shadow: 0 0 5px 2px var(--clr-neutral-700-opaque);
  background-size: cover;
  background-repeat: no-repeat;
}

.category-card__link {
  align-self: end;
  width: 50%;
  padding: var(--size-100) 0;
  background-color: var(--clr-neutral-100-opaque);
  box-shadow: 0 0 5px var(--clr-neutral-900-opaque);
  font-size: var(--fs-400);
  text-align: center;
  text-transform: uppercase;
}

.category-card__link:is(:hover, :focus-within) {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  cursor: pointer;
}


.hats {
  background-image: url("./images/hat_tan.jpg");
  background-position: center;
}

.sweaters {
  background-image: url("./images/sweater_gray.jpg");
  background-position: center;
}

.yarn {
  background-image: url("./images/shaw.jpg");
  background-position: center;
}

/* favorites */

.favorites-container {
  justify-content: center;
  align-items: center;
}

.favorite-cards {
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--size-600) 0;
  gap: 1.5rem;
}

.favorite-card {
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 0.15rem var(--clr-box-shadow);
}

.favorite-card__img {
  height: 250px;
  width: 250px;
}

.favorite-card__title {
  font-size: var(--fs-600);
  margin-top: var(--size-200);
}

/* about */

.about-container {
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  font-size: var(--fs-300);
  color: var(--clr-neutral-900);
  line-height: 1.4em;
  padding: var(--size-500);
  gap: 1.25rem 0;
}

.about-subheading {
  width: 100%;
  color: rgba(0, 0, 0, 0.9);
  font-size: var(--fs-700);
  padding-bottom: var(--size-200);
  border-bottom: 3px solid var(--clr-primary-400);
}

.about-image {
  height: 12.75rem;
  width: 100%;
  object-fit: cover;
}

/* footer */

footer {
  background-color: var(--clr-primary-400);
  min-height: 80px;
  color: var(--clr-neutral-200);
  margin-top: auto;
}


/* Products Page */

.products-container {
  display: grid;
  justify-content: center;
  gap: 1em;
  margin-block: var(--size-500);
}

.products-heading {
  width: 100%;
  text-align: center;
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}


/* products card */

.product-card {
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  width: 20em;
  border-radius: 10px;
  box-shadow: 0 0 3px var(--clr-box-shadow);
  padding: var(--size-400);
}

.product-card-image {
  height: 300px;
  width: 300px;
  margin-inline: auto;
}

.product-card-title {
  font-weight: var(--fw-bold);
  text-align: center;
}

.product-card-price {
    font-size: var(--fs-300);
    margin-top: auto;
  }

@media(min-width: 35em) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: 30em;
    align-self: center;
  }

  .products-heading {
    grid-column: 1 / -1;
  }
  
  .product-card-image {
    height: 200px;
    width: 200px;
  }

  .product-card {
    width: 15em;
  }
}

@media(min-width: 50em) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 50em;
  }

  .product-card {
    width: 100%;
  }
}


/* product details */


.product-container {
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-inline: auto;
  padding-block: var(--size-500);
  gap: 0.75em;
}

.product-container select {
  padding: var(--size-200);
  width: 10rem;
  border: none;
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
}

.product-container select:is(:hover, :focus) {
  cursor: pointer;
}

.product-container select:after {
  
}

.product-image {
  width: 300px;
  aspect-ratio: 1;
}

.product-description {
  align-self: center;
}

.add-to-cart-button {
  margin-top: var(--size-700);
  padding: var(--size-100) var(--size-500);
  font-size: var(--fs-300);
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 5px;
}

.add-to-cart-button:is(:hover, :focus-within) {
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  cursor: pointer;
}

.product-title {
  font-size: var(--size-600);
}

.product-description {
  width: 75%;
  font-size: var(--fs-400);
  max-width: 50ch;
}

.product-price {
  font-size: var(--fs-400);
}

/* contact page */

.contact-container {
  display: grid;
  grid-template-areas: 
  "image"
  "form"
  "map"
  "details";
}

@media(min-width: 50em) {
  .contact-container {
    display: grid;
    grid-template-areas: 
      "image form"
      "details details"
      "map map";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: var(--size-500);
    max-width: 80em;
    margin-inline: auto;
  }
}

.contact-image {
  grid-area: image;
}

.contact-form {
  grid-area: form;
  flex-direction: column;
  align-self: center;
  gap: 1em;
  max-width: 30em;
  padding: var(--size-400);
  border-radius: 10px;
  background-color: var(--clr-primary-100);
}

.contact-form-heading {
  font-weight: var(--fw-bold);
  font-size: var(--fs-650);
}

.contact-form-group {
  flex-direction: column;
  gap: 0.5em;
}

.contact-form textarea {
  z-index: 1;
  resize: vertical;
}

.contact-form input,
textarea {
  padding: var(--size-100);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px var(--clr-box-shadow);
}

.contact-form input:focus {
}

.contact-map {
  grid-area: map
}

.contact-map iframe {
  width: 100%;
}

.contact-details {
  grid-area: details;
}

/* cart */

.cart-container {
  flex-direction: column;
  align-items: center;
  gap: 2em 0;
  padding-inline: var(--size-500);
  margin-block: var(--size-800);
}

.cart-price-heading {
  align-self: flex-end;
  font-weight: var(--fw-bold);
}

.cart-header {
  padding: var(--size-300);
  color: var(--clr-neutral-100);
}

.cart-header-empty {
  align-items: center;
  gap: 0 3em;
  padding: var(--size-600);
  color: var(--clr-neutral-100);
}

.cart-header,
.cart-header-empty {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  background-color: var(--clr-primary-300);
}

.empty-cart-link {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  padding: var(--size-100) var(--size-400);
  border-radius: 5px;
}

.empty-cart-link:is(:hover, :focus-within) {
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-400);

}

.cart-links {
  justify-content: space-between;
  width: 100%;
  gap: 3em;
}

.cart-shopping-link {
  background-color: var(--clr-neutral-900);
}

.cart-checkout-link {
  /* centers button text at small screens */
  justify-content: center;
  align-items: center;
  background-color: var(--clr-secondary-600);
}

.cart-shopping-link,
.cart-checkout-link {
  width: 100%;
  margin: 0;
  padding: var(--size-100);
  color: var(--clr-neutral-100);
  text-align: center;
}

.cart-checkout-link:is(:hover, :focus-within) {
  box-shadow: 0px 0px 5px var(--clr-neutral-900);
}

.cart-shopping-link:is(:hover, :focus-within) {
  box-shadow: 0px 0px 5px var(--clr-neutral-900);
}

.cart-item {
  display: grid;
  grid-template-areas: 
    "img name button"
    "img description description"
    "qty . price";
  grid-template-columns: auto repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 0.75em;
  padding: var(--size-300);
  width: 100%;
  box-shadow: 2px 2px 8px 3px var(--clr-box-shadow);
}

.cart-item__link {
  margin: 0;
}

.cart-item-image {
  grid-area: img;
  width: 6rem;
  aspect-ratio: 1;
}

.cart-item__name {
  grid-area: name;
  font-size: var(--fs-600);
}

.cart-item__description {
  display: none;
  max-width: 80ch;
  font-size: var(--fs-400);
}

.cart-item__name:is(:hover, :focus) {
  cursor: pointer;
  text-decoration: underline;
}

.cart-item-qty-input {
  grid-area: qty;
  padding: var(--size-100) var(--size-300);
  /* width: clamp(5em, 50%, 10em); */
  border: 2px solid var(--clr-neutral-900-opaque);
  border-radius: 3px;
  background-color: var(--clr-neutral-100);
  font-size: var(--fs-300);
}

.cart-item-qty-input:is(:hover) {
  cursor: pointer;
}

.cart-item-remove-button {
  grid-area: button;
  justify-self: end;
  align-self: start;
  width: 1rem;
  border: none;
  background-color: var(--clr-neutral-100);
}

.cart-item-remove-button:is(:hover, :focus-within) {
  text-decoration: underline;
  cursor: pointer;
}

.cart-item-remove-button img {
  aspect-ratio: 1;
}

.cart-item-price {
  grid-area: price;
  justify-self: end;
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
}

.cart-total-price {
  font-weight: var(--fw-bold);
  align-self: flex-end;
  margin-top: var(--size-200);
}

.empty-cart-button {
  margin-top: var(--size-600);
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
  border: none;
  border-radius: 5px;
  padding: var(--size-100) var(--size-200);
  font-size: var(--fs-500);
}

.empty-cart-button:is(:hover, :focus-within) {
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-300);
  cursor: pointer;
}

@media(min-width: 25em) {
  .cart-item {
    flex-direction: row;
  }
}

@media(min-width: 35em) {
  .cart-item__description {
    grid-area: description;
    display: block;
  }
}

@media(min-width: 50em) {
  
}

/* forms */

.login-container {
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: var(--size-900);
}

form {
  flex-direction: column;
  gap: 1em;
  width: 20rem;
  padding: var(--size-600) var(--size-500);
  border-radius: 3px;
  box-shadow: 0px 0px 5px 2px var(--clr-box-shadow);
}

form a {
  margin: 0;
}

form label {
  font-size: var(--fs-400);
}

form input {
  width: 100%;
  margin-top: var(--size-100);
  background-color: var(--clr-input-bg);
  box-shadow: 0px 0px 5px var(--clr-box-shadow);
  font-size: var(--fs-400);
}

form button {
  width: 100%;
  margin-top: var(--size-300);
  color: var(--clr-neutral-100);
  background-color: var(--clr-secondary-600);
}

form button:is(:hover, :focus-within) {
  cursor: pointer;
  background-color: var(--clr-neutral-900);
}

form input,
form button {
  border: none;
  border-radius: 3px;
  padding: var(--size-300);
}


.login-link,
.register-form-link {
  margin-top: var(--size-200);
  font-size: var(--fs-300);
  text-align: center;
}

.login-link:is(:hover, :focus),
.register-form-link:is(:hover, :focus) {
  text-decoration: underline;
}

.register-container {
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: var(--size-900);
}

.shipping-container,
.payment-container {
  justify-content: center;
  align-items: center;
  margin-top: var(--size-900);
}

.payment-form h1 {
  text-align: center;
}

.payment-form button {
  margin-top: var(--size-400);
}

.radio-container {
  gap: 0.5em;
  margin-top: var(--size-400);
}

.payment-form-input {
  align-self: center;
  width: 10%;
}

.payment-form-input:hover {
  cursor: pointer;
}

.payment-form-label {
  font-size: var(--fs-300);
}

/* PlaceOrder Screen */

.order-container {
  width: 80%;
  margin-top: var(--size-600);
  margin-inline: auto;
}

.order-customer-info-container {
  flex-direction: column;
  margin-bottom: var(--size-600);
  min-height: 7rem;
  background-color: var(--clr-secondary-100);
}

.order-customer-info {
  flex-direction: row;
  gap: 1rem;
  padding: var(--size-400);
}

.order-customer-info__img {
  align-self: center;
  justify-content: center;
  align-items: center;
  padding: var(--size-400);
  border-radius: 50%;
  background-color: var(--clr-neutral-400-opaque);
  aspect-ratio: 1;
}

.order-customer-info__img img {
  width: 1.25rem;
  height: 1.25rem;
}

.order-customer-info__details h2 {
  margin-bottom: var(--size-100);
  color: var(--clr-secondary-900);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.order-customer-info__details p {
  color: var(--clr-secondary-900);
  font-size: var(--fs-300);
}

@media(min-width: 35rem) {
  .order-customer-info-container {
    flex-direction: row;
  }

  .order-customer-info {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media(min-width: 60rem) {
  .order-customer-info {
    flex-direction: row;
    gap: 2rem;
  }
}

.order-items-container {
  flex-direction: column;
  gap: 0.5rem;
}

.order-items-info {
  gap: 1rem;
  width: 100%;
  box-shadow: 0px 3px 2px var(--clr-box-shadow);
}

.order-items-info-right {
  display: grid;
  grid-template-areas: 
    "name name"
    "quantity subtotal";
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.order-item-name {
  grid-area: name;
  font-size: var(--fs-600);
}

.order-item-link {
  margin: 0;
}

.order-item-link:is(:hover, :focus) {
  cursor: pointer;
  text-decoration: underline;
}

.order-item-quantity {
  grid-area: quantity;
  justify-self: start;
}

.order-item-subtotal {
  grid-area: subtotal;
  justify-self: end;
  padding-right: var(--size-200);
} 

.order-item-subtotal,
.order-item-quantity {
  align-self: center;
  text-align: center;
  font-size: var(--fs-300);
}

.order-item-subtotal__label,
.order-item-quantity__label {
  margin-bottom: var(--size-100);
}

.order-price-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  min-width: 12rem;
  margin-top: var(--size-600);
  
}

.order-price-info__label {
  font-weight: var(--fw-bold);
}

.order-price-info__amount {
  justify-self: end;
}

.order-button {
  grid-column: span 2;
  margin-top: var(--size-300);
  padding: var(--size-100) var(--size-300);
  color: var(--clr-neutral-100);
  background-color: var(--clr-secondary-600);
  border: none;
}

.order-button:is(:hover, :focus-within) {
  cursor: pointer;
  background-color: var(--clr-neutral-900);
}

.order-button:disabled {
  background-color: var(--clr-neutral-900-opaque);
  cursor: default;
}

.order-price-info__alert {
  grid-column: span 2;
  justify-self: center;
  margin-bottom: var(--size-600);
}

@media(min-width: 35rem) {
  .order-items-info-right {
    display: flex;
  }

  .order-item-name {
    align-self: center;
    margin-right: auto;
  }

  .order-item-quantity {
    margin-right: var(--size-700);
    margin-left: var(--size-300);
  }

  .order-price-info {
    width: 50%;
    margin-left: auto;
  }

}

@media(min-width: 60rem) {
  .order-container {
    display: grid;
    grid-template-areas: 
      "info info info"
      "items items price";
      gap: 0 2em;
    max-width: 70rem;
  }

  .order-customer-info-container {
    grid-area: info;
  }

  .order-items-container {
    grid-area: items;
  }

  .order-items-info-right {
    align-items: center;
    width: 100%;
  }

  .order-price-info {
    grid-area: price;
    height: 12rem;
    margin-top: 0;
    width: 100%;
  }

  .order-item-name {
    
  }

  .order-item-quantity {
    
  }

  .order-item-subtotal {
    grid-area: subtotal;
    justify-self: end;
    padding-right: var(--size-200);
  } 
}

/* menu animation */

@keyframes open-menu {
  from {
    right: -50%;
  }

  to {
    right: 0;
  }
}

/* media queries */

@media (min-width: 50em) {
  .Menu,
  .nav-button {
    display: none;
  }

  .nav-links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25em;
  }

  .nav-link:is(:hover, :focus) {
    border-top: 3px solid transparent; /* prevents pixel shift upwards on hover*/
    border-bottom: 3px solid rgb(12, 58, 158);
    outline: transparent; 
  }

  .nav-hamburger {
    display: none;
  }

  .favorites-container {
    display: flex;
    margin-block: var(--size-600);
  }

  .favorite-cards {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    width: 75%;
    margin-inline: auto;
  }

  .about-container {
    justify-content: space-between;
    gap: 1.25em;
  }

  .about-image,
  .about-text {
    height: 12.5em;
    width: 49%;
  }
  
  .cart-container {
    width: 85%;
    max-width: 75em;
    margin-bottom: var(--size-700);
    margin-inline: auto;
    padding: 0;
  }
}

