
:root {
  --clr-accent-500: hsl(208, 100%, 43%);
  --clr-accent-400: hsl(208, 100%, 60%);
  --clr-accent-300: hsl(208, 100%, 75%);
  --clr-accent-100: hsl(208, 100%, 83%);

  --clr-primary-400: hsl(208, 100%, 43%);
  --clr-primary-400-opaque: hsla(228, 39%, 23%, 0.6);
  --clr-primary-300: hsl(228, 39%, 50%);

  --clr-secondary-900: hsl(120, 100%, 10%);
  --clr-secondary-600: hsl(120, 100%, 25%);
  --clr-secondary-200: hsl(120, 100%, 87%);
  --clr-secondary-100: hsl(120, 100%, 92%);

  --clr-neutral-900: hsl(232, 12%, 13%);
  --clr-neutral-900-opaque: hsla(232, 12%, 13%, 0.6);
  --clr-neutral-700-opaque: hsla(232, 12%, 35%, 0.6);
  --clr-neutral-400-opaque: hsla(0, 0%, 80%, 0.4);
  --clr-neutral-300: hsl(0 0% 85%);
  --clr-neutral-200: hsl(0 0% 97%);
  --clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-100-opaque: rgba(255, 255, 255, 0.8);

  --clr-box-shadow: hsla(232, 12%, 70%, 0.2);
  --clr-input-bg: hsl(227, 100%, 95%); 
  --clr-alert-bg: hsl(0, 100%, 92%);
  --clr-alert-font-color: hsl(0, 100%, 39%);

  --ff-primary: "Be Vietnam Pro", sans-serif;
  --ff-secondary: 'Dancing Script', 'cursive';

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-200: 0.65rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-650: 1.5rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);

    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: var(--fs-600);
}

#root {
  height: 100%;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* UTILITY CLASSES */

.bold {
  font-weight: var(--fw-bold);
}

.disabled-button {
  opacity: 0.6;
}

.disabled-button:is(:hover, :focus-within) {
  color: var(--clr-neutral-100) !important;
  background-color: var(--clr-primary-400) !important;
  cursor: default !important;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.alert,
.alert-info,
.alert-danger {
  padding: var(--size-300);
  color: var(--clr-alert-font-color);
  background-color: var(--clr-alert-bg);
  font-size: var(--fs-400);
  box-shadow: 0px 0px 3px hsl(0, 100%, 71%);
}

.loading-container {
  display: flex;
}

/* GENERAL STYLING */

a {
  color: var(--clr-neutral-900);
  text-decoration: none;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: var(--size-500);
  box-shadow: 0px 0px 5px var(--clr-box-shadow);
}

form a {
  margin: 0;
}

form label {
  font-size: var(--fs-400);
}

form input {
  width: 100%;
  padding: var(--size-200);
  font-size: var(--fs-400);
}

form textarea {
  padding: var(--size-200);
  min-height: 5rem;
  max-height: 20rem;
}

form input,
form textarea {
  box-shadow: 0px 0px 5px var(--clr-box-shadow);
}

form input:focus,
form textarea:focus {
  outline: 2px solid var(--clr-accent-500);
}

form button {
  width: 100%;
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-500);
  padding: var(--size-300);
}

form button:is(:hover, :focus-within) {
  cursor: pointer;
  background-color: var(--clr-neutral-900);
  outline: none;
}

form input,
form button,
form textarea {
  border: none;
}

.banner-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 100%;
  background-color: var(--clr-neutral-900-opaque);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.banner-image h1 {
  color: var(--clr-neutral-200);
  letter-spacing: 4px;
  font-weight: var(--fw-bold);
  font-size: var(--fs-700);
}


@media(min-width: 50em) {
  .banner-image h1 {
    font-size: var(--fs-900);
  }
}

/* APP */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* HEADER */

.header-socials {
  display: none;
  top: 0;
  left: 0;
  height: 100%;
}

.header-socials img {
  aspect-ratio: 1;
  height: 1.5rem;
}

.header-logo {
  height: 3rem;
  width: 9rem;
}

.header-logo:is(:hover, :focus) {
  cursor: pointer;
}

.header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: var(--size-700);
}

.header-icons div:first-child {
  margin-right: var(--size-400);
  padding-right: var(--size-400);
  border-right: 1px solid var(--clr-neutral-400-opaque);
}

.header-icons__cart-container {
  /* for positioning the cart indicator pseudo element */
  position: relative;
}

.header-icons__cart-indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -7px;
  right: -5px;
  height: 11px;
  width: 11px;
  padding: 8px;
  border-radius: 100vh;
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-500);
  font-size: 12px;
  z-index: 1000;
}

.header-cart-icon,
.header-profile-icon {
  height: 1.5rem;
}

@media(min-width: 50em) {
  .header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  .header-socials {
    display: flex;
    align-items: center;
    gap: 0 1.25rem;
  }

  .header-icons {
    margin-right: 0;
  }
}

/* NAVIGATION */

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}

.main-navigation__top-bar,
.main-navigation__bottom-bar {
  justify-content: space-between;
  align-self: center;
  width: 100%;
  padding: var(--size-400);
}

.main-navigation__top-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.main-navigation__bottom-bar {
  display: none;
  justify-content: center;
  background-color: var(--clr-neutral-200);
}

.main-navigation__links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.mobile-nav__hamburger-button {
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
  border: none;
  background-color: var(--clr-neutral-100);
  z-index: 999;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.mobile-nav__hamburger-button:is(:hover, :focus-within) {
  cursor: pointer;
}

.mobile-nav__hamburger-button span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--clr-neutral-900);
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

/* hamburger button span animation */

.mobile-nav__hamburger-button__top {
  top: 0px;
}

.mobile-nav__hamburger-button__mid {
  top: 10px;
}

.mobile-nav__hamburger-button__bottom {
  bottom: 0;
}

button.open .mobile-nav__hamburger-button__top {
  top: 10px;
  transform: rotate(45deg);
}

button.open .mobile-nav__hamburger-button__mid {
  width: 0%;
  opacity: 0;
}

button.open .mobile-nav__hamburger-button__bottom {
  top: 10px;
  transform: rotate(-45deg);
}

@media(min-width: 50em) {
  .main-navigation {
    display: flex;
    justify-content: center;
  }

  .main-navigation__top-bar {
    padding: var(--size-500);
  }

  .main-navigation__bottom-bar {
    display: flex;
  }

  .nav-link {
    border-bottom: 1px solid transparent;
  }

  .nav-link:is(:hover, :focus) {
    border-bottom: 1px solid var(--clr-accent-400);
    transition: all 0.2s ease-in-out;
  }

  .mobile-nav__hamburger-button {
    display: none;
    margin-left: var(--size-300);
  }
}

/* MOBILE NAVIGATION MENU */

.mobile-nav {
  display: flex;
  height: 18rem;
  width: 100%;
  background-color: var(--clr-neutral-300);
  animation-name: expand;
  animation-duration: 500ms;
  animation-timing-function: ease;
  overflow: hidden;
}

.mobile-nav__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
  padding-left: var(--size-500);
}

.mobile-nav__link {
  color: var(--clr-neutral-900);
  font-size: var(--fs-600);
}

.mobile-nav__link:is(:hover, :focus) {
  font-weight: bold;
}

@media(min-width: 50em) {
  .mobile-nav {
    display: none;
  }

}

/* MOBILE MENU ANIMATION */

@keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 18rem;
    opacity: 1;
  }
}


/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 100%;
  background-image: url("../public/images/header2.jpg");
  background-color: var(--clr-neutral-900-opaque);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__heading {
  width: min-content;
  border-bottom: 5px solid white;
  color: var(--clr-neutral-100);
  font-size: var(--fs-800);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.hero__subheading {
  margin-top: var(--size-400);
  color: var(--clr-neutral-100);
  font-size: var(--fs-500);
  text-align: center;
}


.hero__link {
  margin-top: var(--size-600);
  padding: var(--size-100) var(--size-400);
  border: 2px solid var(--clr-neutral-100);
  color: var(--clr-neutral-100);
  background: transparent;
  font-size: var(--fs-300);
  text-transform: uppercase;
}

.hero__link:is(:hover, :focus-within) {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  cursor: pointer;
}

@media(min-width: 30rem) {
  .hero__heading {
    width: max-content;
    letter-spacing: 3px;
  }

  .hero__subheading {
    font-size: var(--fs-600);
  }
}

@media(min-width: 50em) {
  .hero__heading {
    font-size: var(--fs-900);
  }

  .hero__subheading {
    font-size: var(--fs-650);
  }
}


/* CATEGORIES */

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
  max-width: 75rem;
  padding: var(--size-800) var(--size-400);
  margin-inline: auto;
}

.category-card {
  display: flex;
  justify-content: center;
  aspect-ratio: 1;
  width: 100%;
  max-width: 35rem;
  padding: var(--size-400) 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--clr-neutral-200);
}

@media(min-width: 50em) {
  .categories-container {
    flex-direction: row;
    justify-content: center;
  }
}

.category-card__link {
  align-self: end;
  width: 40%;
  padding: var(--size-100) 0;
  background-color: var(--clr-neutral-100-opaque);
  box-shadow: 0 0 3px var(--clr-box-shadow);
  font-size: var(--fs-400);
  text-align: center;
  text-transform: uppercase;
}

.category-card__link:is(:hover, :focus-within) {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  cursor: pointer;
}

.hats {
  background-image: url("../public/images/hat.png");
  background-position: center;
}

.sweaters {
  background-image: url("../public/images/sweater_gray.png");
  background-position: center;
}

.yarn {
  background-image: url("../public/images/shaw.png");
  background-position: center;
}

/* ABOUT */

.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-container section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 95%;
  margin-inline: auto;
  padding: var(--size-800) 0;
}

.about-banner {
  background-image: url("../public/images/about.jpg");
  background-position: center;
}

.about-portrait {
  aspect-ratio: 4 / 5;
  width: 80%;
  margin-inline: auto;
  border: 2px solid black;
}

.about-text {
  width: 95%;
  margin-inline: auto;
}

.about-text h2 {
  margin-bottom: var(--size-300);
  font-size: var(--size-500);
  letter-spacing: 1px;
}

.about-text p {
  margin-bottom: var(--size-200);
  color: var(--clr-neutral-900-opaque);
  font-size: var(--fs-500);
  line-height: 1.5rem;
}

.about-text p:last-of-type {
  margin: 0;
}

@media(min-width: 50em) {
  .about-container section {
    flex-direction: row;
    justify-content: center;
    max-width: 75rem;
  }

  .about-portrait {
    flex: 0 0 33%;
    align-self: flex-start;
    margin-inline: 0;
  }

  .about-text {
    flex: 0 0 66%;
    margin-inline: 0;
  }

  .about-text p {
    max-width: 80ch;
  }
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  background-color: var(--clr-neutral-900);
  min-height: 80px;
  color: var(--clr-neutral-200);
  margin-top: auto;
}


.footer-socials {
  display: flex;
  gap: 1rem;
}

.footer-socials img {
  aspect-ratio: 1;
  height: 1.55rem;
  
}

/* PRODUCTS PAGE */

.products-container {
  width: 100%;
}

.products-container section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 75rem;
  margin-inline: auto;
  padding: var(--size-800) 0;
}

.products-filter {
  padding-left: var(--size-400);
}

.products-filter h3 {
  margin-bottom: var(--size-400);
  font-weight: bold;
  font-size: var(--fs-650);
}

.products-categories li {
  margin-bottom: var(--size-300);
}

.products-categories__link {
  color: var(--clr-neutral-900-opaque);
  font-weight: normal;
  transition: all 500ms;
}

.products-categories__link:is(:hover, :focus) {
  cursor: pointer;
  color: var(--clr-accent-500);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.products-list .alert-danger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-inline: auto;
}

.products-banner {
  background-image: url("../public/images/products.jpg");
  background-position: 40% 60%;
}

/* PRODUCT CARD */

.product-card {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 var(--size-400) var(--size-700) var(--size-400);
}

.product-card__image {
  width: 100%;
  margin-bottom: var(--size-500);
  background-color: var(--clr-neutral-200);
}

.product-card__title {
  margin-bottom: var(--size-100);
}

.product-card__price {
    font-size: var(--fs-600);
  }

@media(min-width: 35em) {
  .products-container section {
    flex-direction: row;
  }

  .product-card {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 var(--size-500) var(--size-500) var(--size-500);
  }
}

@media(min-width: 50em) {
  .product-card {
    flex: 0 0 33%;
    max-width: 33%;
  }
}


/* PRODUCT DETAILS */


.product-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 75rem;
  margin-inline: auto;
  padding: var(--size-800) var(--size-400);
}

.product-container__right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: var(--size-400);
  padding-bottom: 0;
}

.product-container select {
  padding: var(--size-300);
  width: 10rem;
  border: none;
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
}

.product-container select:is(:hover, :focus) {
  cursor: pointer;
}

.product-image {
  align-self: start;
  width: 100%;
  /* max-width: 40rem; */
  margin-inline: auto;
  background-color: var(--clr-neutral-200);
}

.product-quantity-container {
  display: flex;
  gap: 2rem;
  margin-top: var(--size-500);
}

.add-to-cart-button {
  padding: var(--size-100) var(--size-500);
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  border: none;
}

.add-to-cart-button:is(:hover, :focus-within) {
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-500);
  cursor: pointer;  
}

.product-name {
  font-size: var(--size-500);
}

.product-description {
  color: var(--clr-neutral-900-opaque);
  font-size: var(--fs-400);
  max-width: 50ch;
}

.product-price {
  font-size: var(--fs-650);
}

@media(min-width: 40em) {
  .product-container {
    flex-direction: row;
    gap: 1.5rem;
  }
}

/* CONTACT PAGE */

.contact-container {
  display: grid;
  grid-template-areas: 
  "image"
  "contact-bottom";
  grid-template-columns: 20rem;
  width: 100%;
}

@media(min-width: 25em) {
  .contact-container {
    grid-template-columns: auto;
  }
}

@media(min-width: 50em) {
  .contact-container {
    grid-template-areas: 
      "image image"
      "contact-bottom contact-bottom";
    grid-template-columns: repeat(2, 1fr);
  }
}

.contact-banner {
  grid-area: image;
  background-image: url("../public/images/contact.jpg");
  background-position: 30% 60%;
}

.contact-bottom {
  grid-area: contact-bottom;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 95%;
  margin-inline: auto;
  padding: var(--size-800) 0;
}

.contact-form {
  width: 100%;
}

.contact-form__heading {
  font-weight: var(--fw-bold);
  font-size: var(--fs-650);
}

.contact-form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-form textarea {
  z-index: 1;
  resize: vertical;
}

.contact-form__recaptcha {
  overflow: hidden;
}

.contact-map {
  width: 100%;
  min-height: 30rem;
}


iframe {
  border: none;
  width: 100%;
  height: 100%;
}

@media(min-width: 50em) {
  .contact-bottom {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 80rem;
  }

  iframe {
    height: 100%;
  }
}

/* CART */

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 75rem;
  padding-inline: var(--size-400);
  margin-block: var(--size-800);
  margin-inline: auto;
}

.cart-price-heading {
  align-self: flex-end;
  font-weight: var(--fw-bold);
}

.cart-header {
  padding: var(--size-300);
  color: var(--clr-neutral-100);
}

.cart-header-empty {
  align-items: center;
  gap: 0 3rem;
  padding: var(--size-600);
  color: var(--clr-neutral-100);
}

.cart-header,
.cart-header-empty {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--clr-accent-500);
}

.cart-total-price {
  align-self: flex-end;
  margin-block: var(--size-500);
}

.empty-cart-link {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  padding: var(--size-100) var(--size-400);
}

.empty-cart-link:is(:hover, :focus-within) {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
}

.cart-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.cart-shopping-link {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

.cart-checkout-link {
  /* centers button text at small screens */
  justify-content: center;
  align-items: center;
  background-color: var(--clr-accent-500);
  color: var(--clr-neutral-100);
}

.cart-shopping-link,
.cart-checkout-link {
  width: 100%;
  padding: var(--size-200) 0;
  text-align: center;
}

.cart-checkout-link:is(:hover, :focus-within),
.cart-shopping-link:is(:hover, :focus-within) {
  cursor: pointer;
  background-color: var(--clr-secondary-600);
  color: var(--clr-neutral-100);
}


/* CART ITEM */

.cart-item {
  display: grid;
  grid-template-areas: 
    "img name button"
    "qty name price";
  grid-template-columns: auto repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem 1.5rem;
  width: 100%;
  padding: var(--size-600) var(--size-300);
  border-bottom: 1px solid var(--clr-neutral-400-opaque);
}

.cart-item > div {
  grid-area: qty;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.cart-item__link {
  margin: 0;
}

.cart-item__image {
  grid-area: img;
  width: 8rem;
  aspect-ratio: 1;
  background-color: var(--clr-neutral-200);
}

.cart-item__name {
  grid-area: name;
  align-self: center;
  font-size: var(--fs-600);
}

.cart-item__description {
  display: none;
  max-width: 70ch;
  font-size: var(--fs-400);
}

.cart-item__name:is(:hover, :focus) {
  cursor: pointer;
  text-decoration: underline;
}

.cart-item__qty-input {
  padding: var(--size-300);
  border: none;
  background-color: var(--clr-neutral-200);
  font-size: var(--fs-500);
}

.cart-item__qty-input:is(:hover) {
  cursor: pointer;
}

.cart-item__remove-button {
  grid-area: button;
  justify-self: end;
  align-self: start;
  width: 1.5rem;
  border: none;
  background-color: var(--clr-neutral-100);
}

.cart-item__remove-button:is(:hover, :focus-within) {
  text-decoration: underline;
  cursor: pointer;
}

.cart-item__remove-button img {
  aspect-ratio: 1;
}

.cart-item__price {
  grid-area: price;
  justify-self: end;
  align-self: end;
  color: var(--clr-neutral-900);
  font-size: var(--fs-600);
}

@media(min-width: 50em) {
  .cart-item {
    grid-template-areas: 
    "img name qty button"
    "img name qty price";
    grid-template-columns: auto repeat(2, 1fr) auto;
    gap: 0;
  }

  .cart-item > div {
    justify-content: center;
    justify-self: start;
  }

  .cart-item__name {
    justify-self: center;
  }

  .cart-item__qty-input {
    width: 40%;
  }
}

/* FORMS */

.login-container {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: var(--size-900);
}

.login-link,
.register-form-link {
  margin-top: var(--size-200);
  font-size: var(--fs-300);
  text-align: center;
}

.login-link:is(:hover, :focus),
.register-form-link:is(:hover, :focus) {
  text-decoration: underline;
}

.register-container {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: var(--size-900);
}

.shipping-container,
.payment-container {
  justify-content: center;
  align-items: center;
  margin-top: var(--size-900);
}

.payment-form h1 {
  text-align: center;
}

.payment-form button {
  margin-top: var(--size-400);
}

.radio-container {
  gap: 0.5rem;
  margin-top: var(--size-400);
}

.payment-form-input {
  align-self: center;
  width: 10%;
}

.payment-form-input:hover {
  cursor: pointer;
}

.payment-form-label {
  font-size: var(--fs-300);
}

/* PLACEORDER SCREEN */

.order-container {
  width: 80%;
  margin-top: var(--size-600);
  margin-inline: auto;
}

.order-customer-info-container {
  flex-direction: column;
  margin-bottom: var(--size-600);
  min-height: 7rem;
  background-color: var(--clr-secondary-100);
}

.order-customer-info {
  flex-direction: row;
  gap: 1rem;
  padding: var(--size-400);
}

.order-customer-info__img {
  align-self: center;
  justify-content: center;
  align-items: center;
  padding: var(--size-400);
  border-radius: 50%;
  background-color: var(--clr-neutral-400-opaque);
  aspect-ratio: 1;
}

.order-customer-info__img img {
  width: 1.25rem;
  height: 1.25rem;
}

.order-customer-info__details h2 {
  margin-bottom: var(--size-100);
  color: var(--clr-secondary-900);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.order-customer-info__details p {
  color: var(--clr-secondary-900);
  font-size: var(--fs-300);
}

@media(min-width: 35rem) {
  .order-customer-info-container {
    flex-direction: row;
  }

  .order-customer-info {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media(min-width: 60rem) {
  .order-customer-info {
    flex-direction: row;
    gap: 2rem;
  }
}

.order-items-container {
  flex-direction: column;
  gap: 0.5rem;
}

.order-items-info {
  gap: 1rem;
  width: 100%;
  box-shadow: 0px 3px 2px var(--clr-box-shadow);
}

.order-items-info-right {
  display: grid;
  grid-template-areas: 
    "name name"
    "quantity subtotal";
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.order-item-name {
  grid-area: name;
  font-size: var(--fs-600);
}

.order-item-link {
  margin: 0;
}

.order-item-link:is(:hover, :focus) {
  cursor: pointer;
  text-decoration: underline;
}

.order-item-quantity {
  grid-area: quantity;
  justify-self: start;
}

.order-item-subtotal {
  grid-area: subtotal;
  justify-self: end;
  padding-right: var(--size-200);
} 

.order-item-subtotal,
.order-item-quantity {
  align-self: center;
  text-align: center;
  font-size: var(--fs-300);
}

.order-item-subtotal__label,
.order-item-quantity__label {
  margin-bottom: var(--size-100);
}

.order-price-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  min-width: 12rem;
  margin-top: var(--size-600);
  
}

.order-price-info__label {
  font-weight: var(--fw-bold);
}

.order-price-info__amount {
  justify-self: end;
}

.order-button {
  grid-column: span 2;
  margin-top: var(--size-300);
  padding: var(--size-100) var(--size-300);
  color: var(--clr-neutral-100);
  background-color: var(--clr-secondary-600);
  border: none;
}

.order-button:is(:hover, :focus-within) {
  cursor: pointer;
  background-color: var(--clr-neutral-900);
}

.order-button:disabled {
  background-color: var(--clr-neutral-900-opaque);
  cursor: default;
}

.order-price-info__alert {
  grid-column: span 2;
  justify-self: center;
  margin-bottom: var(--size-600);
}

@media(min-width: 35em) {
  .order-items-info-right {
    display: flex;
  }

  .order-item-name {
    align-self: center;
    margin-right: auto;
  }

  .order-item-quantity {
    margin-right: var(--size-700);
    margin-left: var(--size-300);
  }

  .order-price-info {
    width: 50%;
    margin-left: auto;
  }

}

@media(min-width: 60em) {
  .order-container {
    display: grid;
    grid-template-areas: 
      "info info info"
      "items items price";
      gap: 0 2rem;
    max-width: 70rem;
  }

  .order-customer-info-container {
    grid-area: info;
  }

  .order-items-container {
    grid-area: items;
  }

  .order-items-info-right {
    align-items: center;
    width: 100%;
  }

  .order-price-info {
    grid-area: price;
    height: 12rem;
    margin-top: 0;
    width: 100%;
  }

  .order-item-name {
    
  }

  .order-item-quantity {
    
  }

  .order-item-subtotal {
    grid-area: subtotal;
    justify-self: end;
    padding-right: var(--size-200);
  } 
}

.recaptcha-checkbox:hover {
  cursor: pointer;
}
