
:root {
  --dark-blue: rgb(12, 58, 158);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

p {
  margin: 0;
}

.bold {
  font-weight: 700;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

a {
  color: rgb(0,0,0);
  text-decoration: none;
  margin: 0 5px;
}

.App-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 5px rgba(142, 142, 142, 0.1);
}

nav,
.favorite-card,
.main-about {
  padding: 1.5em;
}

.nav-links-container {
  display: none;
}

.nav-hamburger {
  height: 25px;
  width: 25px;
  cursor: pointer;
  z-index: 1000;
}

header {
  width: 100%;
  margin: 0 auto;
  background-color: var(--dark-blue);
  padding: 1.5em 0.5em;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Dancing Script', 'cursive';
  font-size: 1.5em;
  text-align: center;
}

.App-heading {
  margin: 0;
}

.main-heading-container > p {
  margin-bottom: 0;
}

.banner {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  margin: 40px 0 0 0;
  font-size: 1.125em;
}

.favorites-container {
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.favorite-cards {
  align-items: center;
  width: 100%;
  gap: 20px;
}

.favorite-card {
  align-items: center;
  height: 200px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 4px rgb(157, 157, 157);
}

.favorite-title {
  font-size: 1.125em;
  margin-top: 0.5em;
}


.about-container {
  font-size: 0.825rem;
  color: rgb(5, 21, 56);
  line-height: 1.4em;
  background-color: rgb(241, 241, 241);
  padding: 1.75em;
  gap: 1.25em 0;
}

.about-subheading {
  width: 100%;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--dark-blue);
}

.about-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

footer {
  background-color: var(--dark-blue);
  height: 80px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: auto;
}


/* --> Products Page <-- */


.products-container {
  align-items: center;
  gap: 15px;
  margin: 40px 0;
}

.products-heading {
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.product-card {
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 55, 255, 0.1);
}

.product-card-title {
  font-weight: 700;
  margin-bottom: 5px;
}

.product-card-price {
    font-size: 12px;
    margin-top: 0;
  }


/* --> product details <-- */


.product-container {
  align-items: center;
  border: 2px solid black;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

.product-container > button {
  margin: 50px auto 0;
  width: 50%;
  max-width: 500px;
  padding: 5px 0;
  background-color: rgb(118, 159, 255);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.product-container > button:hover,
.product-container > button:focus {
  color: black;
  background-color: pink;
  cursor: pointer;
}

.product-title {
  font-size: 1.75em;
}

.product-description {
  margin-top: 20px;
  width: 75%;
  font-size: 14px;
  max-width: 500px;
}

.product-price {
  font-size: 0.9em;
  margin-top: 10px;
}


/* --> cart <-- */


.cart-container {
  align-items: center;
  padding: 0 20px;
  margin-bottom: 40px;
}

.cart-price-heading {
  align-self: flex-end;
  font-weight: 700;
}

.cart-item-container {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

.cart-item-container:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.cart-item {
  width: 100%;
  gap: 10px;
}

.cart-item-image {
  width: 100%;
}

.cart-item-details {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  max-width: 500px;
}

.cart-item-details-description {
  font-size: 0.825em;
  width: 100%;
}

.cart-item-details-title {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.cart-item-details-quantity {
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 5px;
  width: 110px;
}

.cart-item-details-quantity > p {
  width: 100%;
}

.increase-button,
.decrease-button {
  font-size: 0.65em;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.increase-button:hover,
.increase-button:focus,
.decrease-button:hover,
.decrease-button:focus {
  background-color: rgb(0,0,0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.cart-item-remove-button {
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em; 
  background-color: var(--dark-blue);
  color: rgb(255, 255, 255);
  font-size: 0.65em;
}

.cart-item-remove-button:hover,
.cart-item-remove-button:focus {
  background-color: rgb(252, 213, 239);
  color:rgb(0,0,0);
  cursor: pointer;
}

.cart-item-price {
  text-align: right;
  font-weight: 700;
  align-self: flex-end;
}

.cart-total-price {
  font-weight: bold;
  align-self: flex-end;
}

.empty-cart-button {
  margin-top: 2em;
}

/* --> media queries <-- */

@keyframes open-menu {
  from {
    right: -50%;
  }

  to {
    right: 0;
  }
}

@media (min-width: 900px) {
  .App-container {
    display: flex;
    flex-direction: column;
  }

  .nav-links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 35px;
  }

  .nav-links-container > a:hover, 
  .nav-links-container > a:focus {
    border-top: 2px solid rgba(0,0,0,0); /* prevents pixel shift upwards on hover*/
    border-bottom: 2px solid rgb(12, 58, 158);
  }

  .nav-hamburger {
    display: none;
  }

  .home-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .favorites-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }

  .favorite-cards {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 75%;
    max-width: 1200px;
  }

  .favorite-card {
    height: 300px;
    width: 100%;
  }

  .about-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.25em;
  }

  .about-image,
  .about-text {
    height: 200px;
    width: 49%;
  }

  .products-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-card {
    width: 50%;
    max-width: 500px;
  }

  .cart-container {
    width: 75%;
    margin: 0 auto 40px;
    padding: 0;
  }

  .cart-item-container {
    height: 250px;
  }

  .cart-item {
    flex-direction: row;
    height: 100%;
  }

  .cart-item-image {
    width: 30%;
  }

  .cart-item-details {
    max-width: none;
    width: 50%;
  }

  .cart-item-details-quantity {
    gap: 0 5px;
  }

  .cart-item-price {
    align-self: flex-start;
    margin-left: auto;
  }
}