.Menu-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    box-shadow: -2px 2px 5px rgba(157, 157, 157, 0.1);
    padding-top: 50px;
    background-color: rgb(255, 237, 249);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out 0.2s;
    
  }

  .show {
    transform: translateX(0);
    transition: transform 0.4s ease-in-out 0.2s;
  }
  
  .Menu-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  
  .Menu-nav-link {
    color: rgb(138, 137, 137);
    text-decoration: none;
    font-size: 1.125rem;
    background-color: rgb(255, 237, 249);
    padding: 10px;
    width: 100%;
    margin: 0;
  }
  
  .Menu-nav-link:hover,
  .Menu-nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    background-color: rgb(255, 208, 239);
  }
  
  /* @keyframes open-menu {
    from {
      display: none;
      right: -50%;
    }
  
    to {
      display: block;
      right: 0; 
    }
  }
  
  @keyframes close-menu {
    from {
      right: 0;
    }
  
    to {
      right: -50%; 
    }
  } */